body {
  font-family: "Poppins", serif;
  margin: 0 auto;
  background-color: #dcdee0;
  width: 100%;
  box-sizing: border-box;
  height: 100%;
  overflow-x: hidden;
  padding: 0;
}
.container {
  margin: 0 auto;
  max-width: 100%;
}
header {
  background-image: linear-gradient(
      rgba(97, 96, 96, 0.6),
      rgba(73, 72, 72, 0.6)
    ),
    url("/images/cape-town hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  padding: 100px 0;
  width: 100%;
}
header h1 {
  font-weight: 700;
  font-style: normal;
  line-height: 1;
  font-size: 70px;
  margin: 30px 0;
}
header h2 {
  font-size: 40px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0 auto;
}
header h3 {
  font-size: 20px;
  font-weight: 900;
  line-height: 1.5;
  letter-spacing: 5px;
  margin: 0 auto;
}
header a {
  display: inline-block;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 3px;
  text-align: center;
  background-color: white;
  padding: 16px 32px;
  border-radius: 10px;
  color: black;
  text-decoration: none;
  margin-top: 32px;
}
section {
  max-width: 100%;
  padding: 50px 0;
  box-sizing: border-box;
}
footer {
  color: white;
  background-image: linear-gradient(
      rgba(44, 44, 44, 0.9),
      rgba(44, 44, 44, 0.9)
    ),
    url("/images/footer-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0 20px;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
}
footer .grid {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  grid-row-gap: 10px;
  grid-gap: 64px;
  max-width: 100%;
}
footer h4 {
  font-weight: 700;
  line-height: 1.5;
  font-size: 20px;
}

footer p,
footer a {
  color: #bdbbc6;
}

footer p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}

.section-1 {
  background-color: white;
}

main h3 {
  letter-spacing: 5px;
  font-size: 16px;
  opacity: 0.4;
  font-weight: 700;
  line-height: 1.5;
  text-transform: uppercase;
  margin: 0;
}
main h2 {
  font-size: 30px;
  font-weight: 700px;
  line-height: 1.5;
  margin: 0;
}
main h4 {
  font-weight: 700;
  font-weight: 24px;
  line-height: 1;
  margin: 0;
}
main h5 {
  font-weight: 700;
  line-height: 1;
  font-size: 13px;
  margin: 0;
}
.img-responsive {
  width: 100%;
}
main p {
  font-weight: 400;
  font-size: 15px;
  line-height: 2;
  opacity: 0.7;
}
footer ul {
  padding: 0;
}
footer li {
  list-style: none;
  margin: 0;
  padding: 0;
}
.grid {
  display: grid;
  grid-gap: 64px;
}
.grid-2-column {
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 10px;
}
.grid-3-columns-with-first-narrow {
  grid-template-columns: 1fr 2fr 2fr;
  display: grid;
  grid-gap: 50px;
}
.grid-3-columns {
  grid-template-columns: repeat(3, 1fr);
  display: grid;
  grid-gap: 20px;
}
.section-2 {
  background-color: #dcdee0;
  padding: 50px;
}
.section-3 {
  padding: 50px;
}
.text-center {
  text-align: center;
}
.card {
  background-color: white;
}
.card-button {
  display: block;
  color: white;
  font-weight: 700;
  letter-spacing: 3px;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  text-transform: uppercase;
  padding: 15px 15px;
  background-color: #bdbbc6;
  border-radius: 5px;
  text-decoration: none;
  box-shadow: 2px 3px 3px 1px #969696;
  &:hover {
    color: #bdbbc6;
    background-color: white;
    border: 1px solid #bdbbc6;
    transition: all 150ms ease-in-out;
  }
}
.card-body {
  padding: 30px;
}
.card-footer {
  padding: 5px;
}
.grid-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0;
}
.embed {
  width: 100%;
  aspect-ratio: 1/1;
}

.aspect-ratio {
  aspect-ratio: 1/1;
}

.instagram-embeds {
  margin: 30px auto;
}
@media (max-width: 960px) {
  header {
    padding: 60px 0;
  }
  header h1 {
    font-size: 30px;
  }
  header h2 {
    font-size: 20px;
  }
  header h3 {
    font-size: 10px;
  }
  header a {
    padding: 15px 15px;
    font-size: 10px;
  }
  .section-1 h2,
  .section-1 h3 {
    text-align: center;
  }
  .grid-2-column img {
    max-width: 100%;
  }
  main p {
    text-align: center;
  }

  .section-1-image {
    margin: 0 auto;
    justify-content: center;
    align-items: center;
  }

  .grid {
    grid-template-columns: 1fr;
    grid-gap: 32px;
  }
  .grid-3-columns-with-first-narrow {
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }
  section {
    padding: 30px;
  }
  .grid-card {
    grid-template-columns: 1fr;
  }
  .embed {
    display: none;
  }
  .section-3 {
    padding: 0 20px;
  }
}

@media (max-width: 694px) {
  .section-3 {
    padding: 0 10px;
  }
}

@media (max-width: 578px) {
  .smaller-device-hide {
    display: none;
  }
  .section-3 {
    padding: 0;
  }
}
